extends layout

block content
  #map_canvas
  #mouse_context
  #stats
    #stats_first
      a#close_stats X
      c
      h2#player_name #{user.name}
    ul#stats_percent
      h3 Niveau: #{user.level}
      li Fatigue: #{user.features.tiredness} %
    ul#stats_fixe
      li 15
      li 10
  #equipment
    #bag
      h4 #{user.inventory.name}
      a#close_bag X
      table#bag_content
        - for (var i = 0; i < user.inventory.size[1]; i++){
          tr
            - for (var j = 0; j < user.inventory.size[0]; j++) {
              td 0
            - }
        - }
      p#debug
  p#timer Temps restant avant prochain tour: 10 minutes
  ul#action_bar
    li.action
      img(src='images/bag.png', alt='bag')

  script(type='text/javascript').
    var user = !{JSON.stringify(user).replace(/<\//g, "<\\/")}
    var players = !{JSON.stringify(neighboors).replace(/<\//g, "<\\/")}

  script(type='text/javascript', src='lib/jquery-2.1.3.min.js')
  script(type='text/javascript', src='lib/jquery.ui.core.js')
  script(type='text/javascript', src='lib/jquery.ui.widget.js')
  script(type='text/javascript', src='lib/jquery.ui.mouse.js')
  script(type='text/javascript', src='lib/jquery.ui.draggable.js')
  script(type='text/javascript', src='lib/jquery.ui.droppable.js')
  script(type='text/javascript', src='lib/jquery.overlaps.js')
  script(type='text/javascript', src='lib/jquery-collision.min.js')
  script(type='text/javascript', src='lib/jquery-ui-draggable-collision.min.js')
  script(type='text/javascript', src='http://maps.google.com/maps/api/js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='javascripts/google.js')
  script(type='text/javascript', src='javascripts/inventory.js')
  script(type='text/javascript', src='javascripts/ui.js')
  script(type='text/javascript', src='javascripts/index.js')